# Dependências
node_modules/

# Arquivos de ambiente e segredos (NUNCA ENVIAR PARA O GITHUB)
.env
.env.local
.env.development
.env.production
!.env.example

# Builds e temporários
dist/
dist-ssr/
*.local
*.log

# Editor & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
